<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nlp100.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8483330E1CC6259D006E6E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8483331F1CC6259E006E6E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8483332A1CC6259E006E6E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
